body {
    background-color: aliceblue;
    font-family: Helvetica;
    color: #554d45;
}

.header-container {
  display: flex;
  flex-direction:row;
  background-color: #F0F8FF;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  align-items: center;
  font-family: Aleo, sans-serif;

}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.title-page {
  margin-left: 2rem;
}

.navigation-container {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  
}


.home {
  margin-left: 4rem;
  border: 0.1rem solid black;
  border-radius: 25px;
  border-color:#CEE8FF;
  background-color: #F9F9F9;
  padding: 7px;
}

.aboutus {
  margin-left: 1rem;
  border: 0.1rem solid black;
  border-radius: 25px;
  background-color: #F9F9F9;
  border-color:#C6E3FF;
  padding: 7px;
}

.peersupport {
  margin-left: 1rem;
  border: 0.1rem solid black;
  border-radius: 25px;
  background-color: #F9F9F9;
  border-color:#C6E3FF;
  padding: 7px;
}

.commmembers {
  margin-left: 1rem;
  border: 0.1rem solid black;
  border-radius: 25px;
  background-color: #F9F9F9;
  border-color:#C6E3FF;
  padding: 7px;
}

.members {
  margin-left: 1rem;
  border: 0.1rem solid black;
  border-radius: 25px;
  background-color: #F9F9F9;
  border-color:#C6E3FF;
  padding: 7px;
}

.contactus {
  margin-left: 1rem;
  border: 0.1rem solid black;
  border-radius: 25px;
  background-color: #F9F9F9;
  border-color:#C6E3FF;
  padding: 7px;
}

.events {
  margin-left: 1rem;
  border: 0.1rem solid black;
  border-radius: 25px;
  background-color: #F9F9F9;
  border-color:#C6E3FF;
  padding: 7px;
}

.resources {
  margin-left: 1rem;
  border: 0.1rem solid black;
  border-radius: 25px;
  background-color: #CEE8FF;
  border-color:#C6E3FF;
  padding: 7px;
}

.keyterms {
  margin-left: 1rem;
  border: 0.1rem solid black;
  border-radius: 25px;
  background-color: #F9F9F9;
  border-color:#C6E3FF;
  padding: 7px;
}

.h2 {
    margin-left: 4cm;
    margin-top: 2cm;
    font-size: xx-large;
}

.p {
    font-size: larger;
    margin-left: 4cm;
    margin-top: -1.5%;
}

.p1 {
    color: #554d45;
}


.flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5cm;
    margin-right: 5cm;
    margin-top: 1cm;
}

.flex-container > div {
    border-radius: 25px;
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 2050px;
    height: 80px;
    flex-grow: 4;
    font-size: larger;
    text-align: center;
    align-items: auto;
}

.larger-flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-left: 7cm;
    margin-right: 8cm;
    margin-top: 0.3cm;
}

.larger-flex-container > div {
    border-radius: 30px;
    background-color: white;
    margin: 5px;
    padding: 15px;
    width: auto;
    height: auto;
    font-size: larger;
    text-align: left;
}

.largest-flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: left;
    margin-left: 5cm;
    margin-right: 5cm;
    margin-top: 0.3cm;
}

.largest-flex-container > div {
    border-radius: 30px;
    background-color: white;
    margin: 25px;
    padding: 0px;
    width: auto;
    height: auto;
    flex-grow: 5;
    font-size: larger;
    text-align: left;
}

.shadow {
    box-shadow: 0 6px 3px -3px grey;
}

.shadow1 {
    box-shadow: 0 6px 3px -3px grey;
    color: #554d45;
}

.tab{
      display: inline-block;
      margin-left: 60px;
}

.tab2{
    display: inline-block;
    margin-left: 20px;
}

.tab3{
    display: inline-block;
    margin-left: 57px;
}

.tab4{
    display: inline-block;
    margin-bottom: 57px;
}

.tab5{
    display: inline-block;
    margin-top: 57px;
    margin-left: 57px;
}

.tabsub{
    display: inline-block;
    margin-left: 87px;
}