body {
    background-color:rgb(210, 229, 245);
}

.navbar {
    align-items: right;
    overflow: hidden;
    margin-top: 1cm;
    margin-right: 0.75cm;
}

.navbar a {
    float: right;
    color: black;
    text-align: center;
    padding: 155px 18px;
    text-decoration: none;
    font-size: 15px;
}

.navbar a:hover {
    background-color: lightsteelblue;
    color: black
}

.navbar a.oval.active {
    background-color: #99ccff;
    color: black;
    font-weight: bold;
} 

.navbar a.oval{
    border-radius: 24px;
    margin-left: 17.5px;
    border: 2px solid rgb(160, 197, 229);
    padding: 5px;
    width: auto;
    height: auto;
    white-space: normal;
}

.title {
    margin-left: 0.5cm;
    display: inline-block;
}

.h2 {
    margin-left: 4cm;
    margin-top: 2cm;
    font-size: xx-large;
}

.p {
    font-size: larger;
    margin-left: 4cm;
    margin-top: -1.5%;
}

.p2 {
    font-size: smaller;
}

.flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5cm;
    margin-right: 5cm;
    margin-top: 1cm;
}

.flex-container > div {
    border-radius: 30px;
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 2050px;
    height: 80px;
    font-size: larger;
    text-align: center;
    align-self: auto;
}

.larger-flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 9cm;
    margin-right: 9cm;
    margin-top: 1cm;
}

.larger-flex-container > div {
    border-radius: 30px;
    background-color: white;
    margin: 10px;
    padding: 10px;
    width:2050px;
    height: 200px;
    font-size: large;
    text-align: center;
    align-self: auto;
}

.largest-flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 7cm;
    margin-right: 7cm;
    margin-top: 1cm;
}

.largest-flex-container > div {
    border-radius: 30px;
    background-color: white;
    margin: 10px;
    padding: 10px;
    width:2050px;
    height: 250px;
    font-size: medium;
    text-align: center;
    align-self: auto;
}


.shadow {
    box-shadow: 0 6px 3px -3px grey;
  }
